<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title><%= current_page.data.title || "Oswald Labs" %></title>
		<meta property="og:title" content="<%= current_page.data.title || "Oswald Labs" %>">
		<meta name="apple-mobile-web-app-title" content="Oswald Labs">
		<meta name="application-name" content="Oswald Labs">

		<meta name="description" content="<%= current_page.data.desc || "Oswald Labs is an award-winning accessibility technology company based in New Delhi, India; and Enschede, the Netherlands." %>">
		<meta property="og:description" content="<%= current_page.data.desc || "Oswald Labs is an award-winning accessibility technology company based in New Delhi, India; and Enschede, the Netherlands." %>">
		<link rel="canonical" href="https://oswaldlabs.com<%= current_page.url.chomp("index.html").chomp(".html").chomp("/") %>">
		<meta property="og:url" content="https://oswaldlabs.com<%= current_page.url.chomp("index.html").chomp(".html").chomp("/") %>">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@OswaldLabs">
		<meta name="twitter:creator" content="@AnandChowdhary">
		<link rel="publisher" href="https://plus.google.com/109050675253975445822">
		<meta property="og:publisher" content="https://www.facebook.com/OswaldLabs">

		<meta property="og:image" content="https://static.oswaldlabs.com/cover_home-2bd771f8.png">
		<meta name="twitter:image" content="https://static.oswaldlabs.com/cover_home-2bd771f8.png">

		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="194x194" href="/icons/favicon-194x194.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/icons/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#007bff">
		<link rel="shortcut icon" href="/icons/favicon.ico">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<meta name="theme-color" content="#533aff">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<%= stylesheet_link_tag "site" %>
		<%= stylesheet_link_tag "fonts", :media => "none", :onload => "if (media != 'all') media = 'all'" %>

		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src="https://www.googletagmanager.com/gtm.js?id="+i+dl;f.parentNode.insertBefore(j,f);})(window,document,"script","dataLayer","GTM-MKT24WB");</script>

	</head>

	<body class="page--<%= page_classes %>">

		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKT24WB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

		<a href="#content" class="sr-only sr-only-focusable btn btn-light">Skip to main content</a>

		<%= yield %>

		<%= partial "footer" %>

		<script> window.a11ySettings = window.a11ySettings || {}; window.a11ySettings.classes = { night: "dark" }; </script>
		<script src="https://api.oswaldlabs.com/agastya-loader/5rlsghx.js" async defer></script>
		<script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js" async defer></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<%= javascript_include_tag "site" %>

	</body>

</html>