<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title><%= current_page.data.title || "Oswald Labs" %></title>
		<meta property="og:title" content="<%= current_page.data.title || "Oswald Labs" %>">
		<meta name="apple-mobile-web-app-title" content="Oswald Labs">
		<meta name="application-name" content="Oswald Labs">

		<meta name="description" content="Oswald Labs partners with impact-driven, passionate companies to bring the best of technology in the hands of the next billion users.">
		<meta property="og:description" content="Oswald Labs partners with impact-driven, passionate companies to bring the best of technology in the hands of the next billion users.">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@OswaldLabs">
		<meta name="twitter:creator" content="@AnandChowdhary">
		<link rel="publisher" href="https://plus.google.com/109050675253975445822">
		<meta property="og:publisher" content="https://www.facebook.com/OswaldLabs">

		<meta property="og:image" content="https://oswaldlabs.com/assets/images/cover_home.png">
		<meta name="twitter:image" content="https://oswaldlabs.com/assets/images/cover_home.png">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=2">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=2">
		<link rel="icon" type="image/png" sizes="194x194" href="/assets/icons/favicon-194x194.png?v=2">
		<link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-chrome-192x192.png?v=2">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=2">
		<link rel="manifest" href="/manifest.json?v=2">
		<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=2" color="#007bff">
		<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=2">
		<meta name="msapplication-config" content="/browserconfig.xml?v=2">
		<meta name="theme-color" content="#533aff">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<%= stylesheet_link_tag "site" %>

		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":
		new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src=
		"https://www.googletagmanager.com/gtm.js?id="+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,"script","dataLayer","GTM-MKT24WB");</script>

	</head>

	<body>

		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKT24WB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

		<a href="#content" class="sr-only sr-only-focusable btn btn-light">Skip to main content</a>

		<header id="masthead" class="<%= current_page.data.template || "light" %>">
			<div class="container pt-3 pb-3">
				<%= partial "navbar" %>
				<div class="hero">
					<h1>Technology for the next billion users.</h1>
					<p>Oswald Labs is an award-winning accessibility technology company. With our research-driven and inclusive product portfolio, we've impacted thousands of lives throughout the globe.</p>
					<div class="mt-5">
						<a class="btn btn-light mr-3" href="/about">Learn More</a>
						<a class="btn btn-outline-light" href="/contact">Get in Touch</a>
					</div>
				</div>
				<div class="right-drawings d-none d-md-flex">
					<div class="app-illustrations">
						<div class="tablet-landscape">
							<img alt="Agastya accessibility plugin" src="/assets/images/agastyascreen.svg">
						</div>
						<div class="phone-small">
							<img alt="Shravan smartphone OS" src="/assets/images/shravanscreen.svg">
						</div>
						<div class="tablet-portrait">
							<img alt="Agastya accessibility plugin" src="/assets/images/a11yscreen.svg">
						</div>
					</div>
				</div>
			</div>
		</header>

		<%= yield %>

		<%= partial "footer" %>

		<script src="https://a11y.co/agastya.js" async defer></script>
		<script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js" async defer></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<%= javascript_include_tag "site" %>

	</body>

</html>